.e1{
  font-weight: bold;
 color: white;
  margin: 5px;
  width: 180px;
  background-color: #880e4f;
}
.e2{
  color: black;
  background-color: #880e4f;
  margin: 4px;
  padding: 2px;
  font-size: 16px;

}

.e3{
  color: black;
  background-color: #880e4f;
  margin: 4px;
  padding: 2px;
  font-size: 16px;

}
.e4{
  color: black;
  background-color: #880e4f;
  margin: 4px;
  padding: 2px;
    font-size: 16px;
}
.e5{
  color: black;
  background-color: #880e4f;
  margin: 4px;
  padding: 2px;
  font-size: 16px;
}
.card{
  background-color: white;
}
