
.l1{
  margin-top: 20px;
  font-weight: lighter;
}.l3{
  border-color: black;
  border-width: thin;
  border-style: solid;
}
.l2{
  margin: 5px;
  width: 150px;
  background-color: rgb(99, 62, 224);
  color: white;
  font-weight: bold;

}
.l4{
  color: white;
  background-color: red;
  margin-bottom: 20px;
}
.l5{
  margin-top: 25px;
}
